@import "src/styles.scss";

#main-container {
  display: flex;
  height: $footer-header-height;
  flex-direction: row;
  justify-content: space-between;
  background-color: $color-primary;
  padding: 0.5em;
}

#title {
  font-size: 3em;
}

img {
  justify-content: center;
}
