<div class="content">

  <div class="Title">
    Politique de confidentialité de Bedroom Enterprise
  </div>

  <div class="Subtitle">
    Les données collectées par Bedroom Enterprise
  </div>

  <div class="Text-bloc mat-elevation-z5">
    <p class="text">
    Bedroom Enterprise
    collecte les informations que vous renseignez afin de les transmettre
    aux médecins pour qu’ils puissent avoir vos données pour vos rendez-vous.
    Notamment votre nom, prénom, email, téléphone, la date et l'heure du rendez-vous.
    </p>
  </div>

  <div class="Subtitle">
    Ce que nous vous promettons :
  </div>

  <div class="Text-bloc mat-elevation-z5">
    <p class="text">
    Bedroom Enterprise ne divulguera jamais vos données à de tierces personnes.
    Vous êtes entre de bonnes mains. Nous pouvons également pas garder les informations personnelles des visiteurs du site dans un délai
    supérieur à 36 mois. En effet, aprés le délai, nous devrons effacer les données encodées pour les rendez-vous. <br>
    Vous pouvez égalament
    nous contacter pour rectifier, supprimer ou restituer une informations, nous nous assurons d'effectuer la tâche dans un délai de 1 mois
    </p>
  </div>

</div>
