<div class="content">

  <h1 class="blue">
    Politique de confidentialité de Bedroom Enterprise
  </h1>

  <h2 class="purple">
    Les données collectées par Bedroom Enterprise
  </h2>

  <p class="text-white">
    Bedroom Enterprise
    collecte les informations que vous renseignez afin de les transmettre
    aux médecins pour qu’ils puissent avoir vos données pour vos rendez-vous.
    Notamment votre nom, prénom, email, téléphone, la date et l'heure du rendez-vous.
  </p>

  <h2 class="purple">
    Ce que nous vous promettons :
  </h2>

  <p class="text-white">
    Bedroom Enterprise ne divulguera jamais vos données à de tierces personnes.
    Vous êtes entre de bonnes mains. Nous pouvons également pas garder les informations personnelles des visiteurs du site dans un délai
    supérieur à 36 mois. En effet, aprés le délai, nous devrons effacer les données encodées pour les rendez-vous. <br>
    Vous pouvez égalament
    nous contacter pour rectifier, supprimer ou restituer une informations, nous nous assurons d'effectuer la tâche dans un délai de 1 mois
  </p>

</div>
