@import "src/styles";

#bg-image {
  background-image: url('../../assets/main_health-and-wellness-hero-banner_desktop.jpg');
  filter: blur(8px);
  -webkit-filter: blur(8px);
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-bloc {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: rgba(0,0,0, 0.4);
  padding: 2em;
  border-radius: $border-radius;
}

.content {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.T{
  color : $color-font-primary;
  justify-content: center;
  font-size: 3em;
}

.Title {
  color : $color-font-primary;
  justify-content: center;
  font-size: 2.5em;
  padding: 1em;
}

.Subtitle{
  color : $color-accent;
  justify-content: center;
  font-size: 2em;
}

.Text-bloc{
  justify-content: center;
  background-color: $color-primary;
  border-radius: $border-radius;
  margin: 2em;
  width: 75%;
}

.text{
  color: $color-font-primary;
  padding: 2em 20% 2em 20%;
  font-size: 1.5em;
}

.btn {
  background-color: $color-green;
}
