@import "src/styles.scss";

#main-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-header-height;
  background-color: $color-primary;
}


a {
  color : #191919;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  text-decoration: underline;
}

