@import "src/styles.scss";

#main-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-header-height;
  background-color: $color-primary;
}


#confid-button {
  width: 10em;
  margin: 0.5em 0.5em 0.5em auto;
  background-color: $color-secondary;
  color: $color-font-primary;
  padding: 0.5em;
  border-radius: 0.5em;
}

#confid-button:hover {
  background-color: $color-font-primary;
  color: $color-font-secondary;
}

