<div id="main-container">
  <div id="title"> Prendre un rendez-vous </div>
  <div id="infoContainer">

    <div id="infoForm" class="mat-elevation-z5">

      <mat-form-field id="datePickerForm" class="form-field" appearance="fill">
        <mat-label>Date du rendez-vous</mat-label>
        <input matInput [matDatepicker]="picker" [matDatepickerFilter]="dateFilter" (dateChange)="select_date('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="" required [(ngModel)]="name" [formControl]="NameFormControl">
        <mat-error *ngIf="NameFormControl.hasError('required')">
          Veuillez renseigner votre Nom
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Prénom</mat-label>
        <input matInput placeholder="" required [(ngModel)]="surname" [formControl]="SurnameFormControl">
        <mat-error *ngIf="SurnameFormControl.hasError('required')">
          Veuillez renseigner votre Prénom
        </mat-error>
      </mat-form-field>

      <mat-form-field id="telForm" class="form-field" appearance="fill">
        <mat-label>Téléphone</mat-label>
        <span matPrefix>+32 &nbsp;</span>
        <input type="tel" matInput placeholder="412-34-56-78" [(ngModel)]="phone" required [formControl]="PhoneFormControl">
        <mat-error *ngIf="PhoneFormControl.hasError('required')">
          Veuillez renseigner votre Téléphone
        </mat-error>
      </mat-form-field>

      <mat-form-field id="emailForm" class="form-field" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
               placeholder="Ex. pat@example.com" required [(ngModel)]="email">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Email non valide
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Veuillez renseigner votre email
        </mat-error>
      </mat-form-field>
    </div>

    <div id="sizer"></div>

    <div id="pickReservation" class="mat-elevation-z5">
      <mat-list *ngIf="date_selected">
        <mat-list-item *ngFor="let date of date_list">
          <div class="mat-list-item-bloc mat-elevation-z5" (click)="bookHour(date)">
            <div class="date-list-item">{{date.hour}} heure</div>
            <div class="date-list-item" class="date_empty" *ngIf="date.empty">Disponibilite </div>
            <div class="date-list-item" class="date_full" *ngIf="!date.empty">Réservé </div>
          </div>
        </mat-list-item>
      </mat-list>
      <div id="placeHolder-reservation" *ngIf="!date_selected">
        <p>Veuillez choisir la date de votre rendez-vous</p>
        <p>Afin de pouvoir choisir l'heure par la suite</p>
      </div>
    </div>

  </div>

  <div id="confirmReservation" class="mat-elevation-z5">
    <div *ngIf="requested_date_parsed" id="confirmReservation-bloc">
      <div id="confirmation-info">
        <div class="reservation-line">Nom Prénom : {{name}} {{surname}}</div>
        <div class="reservation-line">Téléphone : +32 {{phone}}</div>
        <div class="reservation-line">Email : {{email}}</div>
        <div class="reservation-line">Date et heure de réservation : {{date_reservation}}</div>
      </div>
      <button class="confirmation-button mat-elevation-z1" mat-button (click)="sendReservation()"> Confirmer </button>
    </div>
    <div *ngIf="!requested_date_parsed">
      <div id="confirmReservation-placeholder">
        <p>Veuillez remplir tout les champs </p>
        <p>Ainsi que choisir une date afin de pouvoir effectuer une réservation </p>
      </div>
    </div>
  </div>

</div>
