
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: Montserrat;
  src: url("/assets/montserrat/Montserrat-Medium.otf") format("truetype");
}
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html, body { height: 100%; }
body {
  margin: 0;
  background-color: #c0c8d9;
}
/**
Color
 */
$color-primary: #2A4D69;
$color-secondary: #c0c8d9;
$color-accent: #2a3c69;
$color-highlight: #283655;

$color-font-primary: #c0c8d9;
$color-font-secondary: #2A4D69;

$color-red: #DB6957;
$color-green: #BBE3BC;

/**
Font
 */


/**
size
 */

$footer-header-height: 5em;
